.store-preview-info {
  .kamereo-field {
    .kamereo-label {
      width: 15%;
    }
    .kamereo-input, .kamero-phone-number {
      width: 30%;
    }
  }
  .kamereo-image {
    img {
      width: 45%;
    }
  }
  .edit-profile-btn {
    width: 45%;
  }
}